p{
    color:darkcyan;
    text-align:justify;
    font-size:15px;
    font-family:Lucida Sans;
}

h1{
    color:rgb(255, 255, 255);
    text-align: center;
    font-size: 30px;
    font-style: bold;
    font-family:Lucida Sans;
    background-color: #FC7300
}

#text1{
    color: rgb(255, 255, 255);
    background-color: #00425A
}

#text2{
    color: rgb(255, 255, 255);
    background-color: #1F8A70
}

.destaques{ 
    color: rgb(255, 255, 255);
    font-size: 40;
    font-style: italic;  
}
header{
    padding:20px;
    background-color:#00425A;
    border-bottom:#008ec2;
    color:rgb(255, 255, 255);
    font-size: 32px;
}

#menu{
    font-size: 15px;
    font-family:Arial, Helvetica, sans-serif;
    color:antiquewhite;
    
}
