p{
    color:darkcyan;
    text-align:justify;
    font-size:15px;
    font-family:Lucida Sans;
}

h1{
    color:palevioletred;
    text-align: center;
    font-size: 30px;
    font-style: italic;
    font-family:Lucida Sans;
}