p{
    color:darkcyan;
    text-align:justify;
    font-size:15px;
    font-family:Lucida Sans;
}

h1{
    color:palevioletred;
    text-align: center;
    font-size: 30px;
    font-style: bold;
    font-family:Lucida Sans;
}

#text1{
    color: rgb(8, 129, 129)
}

#text2{
    color: rgb(196, 43, 132)
}